<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Barra de Progreso</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="percent" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="percent + '%'"></div>
        </div>  
      </div>
    </div>
  </div>  
  <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="changeValue(-5)">
                <i class="mdi mdi-minus"></i>
              </button>
            </span>
            <input type="text" class="form-control" name="percent" [(ngModel)] = "percent">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="changeValue(+5)">
                  <i class="mdi mdi-plus"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
    </div>  
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            
          </div>
        </div>
      </div>  
</div>

