<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <input type="text"  #input (keyup)="searchMedics(input.value)" class="form-control" placeholder="Buscar Médico">
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="text-right" >
                <a [routerLink]="['/medic', 'new']" class="btn waves-effect waves-light btn-rounded btn-primary" >
                  <i class="fa fa-plus"></i>
                  Crear Médico
                </a>
              </div>
              <h3 class="card-title">Medicos registrados ( <small>{{rows}}</small> )</h3>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Médico</th>
                    <th>Hospital</th>
                    <th>  </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medic of medics">
                    <td class="w70">
                      <img (click)="updateImage(medic)" [src]="medic.img | image:'medics'" alt="medic" class="img50 pointer">
                    </td>
                    <td>
                      {{medic.name}}
                    </td>
                    <td>
                      {{medic.hospital.name}}
                    </td>                    
                    <td>
                        <button [routerLink]="['/medic', medic._id]" class="btn btn-primary">
                          <i class="fa fa-save"></i>
                        </button>
                        <button (click)="deleteMedic(medic)" class="btn btn-danger m-l-5">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
